<p id="notice"><%= notice %></p>

<p>
  <strong>Product cate:</strong>
  <%= @product_item.product_cate %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product_item.name %>
</p>

<p>
  <strong>System:</strong>
  <%= @product_item.system %>
</p>

<p>
  <strong>Update date:</strong>
  <%= @product_item.update_date %>
</p>

<p>
  <strong>Source size:</strong>
  <%= @product_item.source_size %>
</p>

<p>
  <strong>Source dev:</strong>
  <%= @product_item.source_dev %>
</p>

<p>
  <strong>Iphone url:</strong>
  <%= @product_item.iphone_url %>
</p>

<p>
  <strong>Iphone ma:</strong>
  <%= @product_item.iphone_ma %>
</p>

<p>
  <strong>Android url:</strong>
  <%= @product_item.android_url %>
</p>

<p>
  <strong>Android ma:</strong>
  <%= @product_item.android_ma %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_item.description %>
</p>

<p>
  <strong>Small image url:</strong>
  <%= @product_item.small_image_url %>
</p>

<p>
  <strong>Big image url:</strong>
  <%= @product_item.big_image_url %>
</p>

<%= link_to 'Edit', edit_product_item_path(@product_item) %> |
<%= link_to 'Back', product_items_path %>
