<!DOCTYPE html>
<html>
<head>
  <title>瑞信云科技</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="zh-cn" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title) %> </title>
  <meta name="keywords" content="<%= yield(:meta_keywords)%>" />
  <meta name="description" content="<%= yield(:meta_description)%>" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body class="<% if params[:controller] == 'home' && params[:action] == 'index' %> pull_top<% end %>">
 <%= render :partial => 'layouts/header' %>
 <%= yield %>
 <%=request %>
 <%= params %>
 <%= render :partial => 'layouts/footer' %>
</body>
</html>
